<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="./css/main.css"></style>
   <style>
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
          width: 80%;
          margin: auto;
      }
      .carousel-caption {
         max-width: 550px;
         padding: 100 20px;
         margin:0 auto;
         margin-top: 200px;
         text-align:center;
         color: #000000;
      }
   </style>
</head>

<div id="content">
   <!-- Begin sections -->

   <section id="top">
      <br />
      <br />
      <br />
      <div class="row">
         <div class="col-xs-12 text-center">
            <h1><b>mealShare</b></h1>
         </div>
      </div>
      <br />
   </section>
   <section id="next-top">
      <br />
      <div class="row">
         <div class="col-xs-offset-2 col-xs-8 text-center">
            <p>
               Quit wasting time arguing who owes what after that delicious meal.  Text us a photo of the recipient, follow the easy step-by-step instructions, and we'll tell you who owes what amount of money with what amount of tip.
            </p>
         </div>
      </div>
   </section>
   <section id="middle">
      <br />
      <br />
      <div class="row flow">
         <div class="col-xs-12 text-center">
            <!--  -->
            <div class="container howto">
           <br>
           <div id="myCarousel" class="carousel slide" data-ride="carousel">
             <!-- Indicators -->
             <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
               <li data-target="#myCarousel" data-slide-to="3"></li>
               <li data-target="#myCarousel" data-slide-to="4"></li>
               <li data-target="#myCarousel" data-slide-to="5"></li>
               <li data-target="#myCarousel" data-slide-to="6"></li>
               <li data-target="#myCarousel" data-slide-to="7"></li>
               <li data-target="#myCarousel" data-slide-to="8"></li>
             </ol>

             <!-- Wrapper for slides -->
             <div class="carousel-inner" role="listbox">

               <div class="item active">
                 <img src="./img/IMG_2267.PNG" alt="Chania" width="460" height="345">
                 <div class="carousel-caption car">
                   <p>Take a picture of the receipt and send to +15164505983</p>
                 </div>
               </div>

               <div class="item">
                 <img src="./img/IMG_2268.PNG" alt="Chania" width="460" height="345">
                 <div class="carousel-caption">
                   <p>Receive back a list of each item and their prices</p>
                 </div>
               </div>

               <div class="item">
                 <img src="./img/IMG_2269.PNG" alt="Flower" width="460" height="345">
                 <div class="carousel-caption">
                    <p>Send corrections and additions to the bill that may not have been picked up in the image analysis</p>
                 </div>
               </div>

               <div class="item">
                 <img src="./img/IMG_2270.PNG" alt="Flower" width="460" height="345">
                 <div class="carousel-caption">
                   <p>Send an 'Ok' to confirm</p>
                 </div>
               </div>

               <div class="item">
                 <img src="./img/IMG_2271.PNG" alt="Flower" width="460" height="345">
                 <div class="carousel-caption">
                   <p>Send a list of who you ate with</p>
                 </div>
               </div>

               <div class="item">
                 <img src="./img/IMG_2272.PNG" alt="Flower" width="460" height="345">
                 <div class="carousel-caption">
                    <p>Send an 'Ok' to confirm</p>
                 </div>
               </div>

               <div class="item">
                 <img src="./img/IMG_2273.PNG" alt="Flower" width="460" height="345">
                 <div class="carousel-caption">
                    <p>Detail who ate what by inputing the persons name followed by the letter-key of the meal items eatten</p>
                 </div>
               </div>

               <div class="item">
                 <img src="./img/IMG_2274.PNG" alt="Flower" width="460" height="345">
                 <div class="carousel-caption">
                   <p>Send an 'Ok' to confirm</p>
                 </div>
               </div>

               <div class="item">
                 <img src="./img/IMG_2275.PNG" alt="Flower" width="460" height="345">
                 <div class="carousel-caption">
                   <p>Receive back a breakdown of who owes what, and how much tip should be left</p>
                 </div>
               </div>

             </div>

             <!-- Left and right controls -->
             <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
             </a>
             <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
             </a>
           </div>
         </div>
            <!--  -->
         </div>
      </div>
      <br />
      <br />
   </section>
   <section id="bottom">
      <br />
      <div class="row text-center">
         <div class="col-xs-10 col-xs-offset-1">
            <p>
               Enter your phone number below to receive the number to text along with a sample receipt to try out!
            </p>
         </div>
      </div>
      <form action="/signup" method="post">
         <div class="row text-center">
            <div class="col-xs-6 col-xs-offset-3">
               <input type="text" class="form-control" name="phone_number" size="30" placeholder="Phone Number (P.S. don't forget the area code)">
            </div>
         </div>
         <br />
         <div class="row text-center">
            <div class="col-xs-12">
               <input class="btn btn-default" type="submit" value="Send Me The Goods">
            </div>
         </div>
      </form>
      <br />
      <br />
      <div class="row">
         <div class="col-xs-6 text-right">
            <h3>Image to text analysis powered by</h3>
         </div>
         <div class="col-xs-6">
            <a href="http://www.idolondemand.com/" target="_blank"><img src="./img/hp.png" alt="Mountain View" height="60"></a>
         </div>
      </div>
      <br />
      <div class="row">
         <div class="col-xs-6 text-right">
            <h3>SMS powered by</h3>
         </div>
         <div class="col-xs-6">
            <a href="https://www.twilio.com/" target="_blank"><img src="./img/twilio.png" alt="Mountain View" height="60"></a>
         </div>
      </div>
   </section>
</div>
