<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="./css/main.css"></style>
</head>

<div id="content">
   <!-- Begin sections -->

   <section id="top">
      <br />
      <br />
      <br />
      <div class="row">
         <div class="col-xs-12 text-center">
            <h1><b>mealShare</b></h1>
         </div>
      </div>
      <br />
   </section>
   <section id="next-top">
      <br />
      <div class="row">
         <div class="col-xs-offset-2 col-xs-8 text-center">
            <p>
               Quit wasting time arguing who owes what after that delicious meal.  Text us a photo of the recipient, follow the easy step-by-step instructions, and we'll tell you who owes what amount of money with what amount of tip.
            </p>
         </div>
      </div>
   </section>
   <section id="middle">
      <br />
      <br />
      <div class="row flow">
         <div class="col-xs-1 col-xs-offset-1 text-center">
            Take a photo of the receipt and send it to +15164505983
         </div>
         <div class="col-xs-1 text-center vertical-center">
            <img src="./img/arrow_right_grey.png" alt="Mountain View" height="40">
         </div>
         <div class="col-xs-1 text-center">
            Text who you ate with (Bob, Henry, Diana, Stephanie)
         </div>
         <div class="col-xs-1 text-center">
            <img src="./img/arrow_right_grey.png" alt="Mountain View" height="40">
         </div>
         <div class="col-xs-1 text-center">
            Text what each of them ate from the bill
         </div>
         <div class="col-xs-1 text-center">
            <img src="./img/arrow_right_grey.png" alt="Mountain View" height="40">
         </div>
         <div class="col-xs-1 text-center">
            Receive who owes what - tax, tip, total
         </div>
         <div class="col-xs-1 text-center">
            <img src="./img/arrow_right_grey.png" alt="Mountain View" height="40">
         </div>
         <div class="col-xs-1 text-center">
            Pay the bill and go on with your life
         </div>
      </div>
      <br />
      <br />
   </section>
   <section id="bottom">
      <br />
      <br />
      <br />
      <br />
      <div class="row text-center">
         <div class="col-xs-10 col-xs-offset-1">
            <p>
               Enter your phone number below to receive the number to text along with a sample receipt to try out!
            </p>
         </div>
      </div>
      <form action="/signup" method="post">
         <div class="row text-center">
            <div class="col-xs-6 col-xs-offset-3">
               <input type="text" class="form-control" name="phone_number" size="30" placeholder="Phone Number (P.S. don't forget the area code)">
            </div>
         </div>
         <br />
         <div class="row text-center">
            <div class="col-xs-12">
               <input class="btn btn-default" type="submit" value="Send Me The Goods">
            </div>
         </div>
      </form>
      <br />
      <br />
   </section>
</div>
